<div class="container-fluid" class="mycarousel-top">
  <div id="mycarousel" class="carousel slide" data-ride="carousel" data-interval="1500">
    <ol class="carousel-indicators">
      <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mycarousel" data-slide-to="1"></li>
      <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../../assets/images/carousel1.jpg" />
        <div class="carousel-caption">
          <button type="button" class="btn btn-danger" style="padding-left: 15px;padding-right: 15px;">Explore</button>
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/images/carousel2.jpeg" />
        <div class="carousel-caption">
          <button type="button" class="btn btn-danger" style="padding-left: 15px;padding-right: 15px;">Explore</button>
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/images/carousel3.jpg" />
        <div class="carousel-caption">
          <button type="button" class="btn btn-danger" style="padding-left: 15px;padding-right: 15px;">Explore</button>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>


<section class="sec3">
  <div>
    <p>Nexus Telecom has the best customer care service among other competitors. Their response is fast and efficient.
    </p>
    <br>
    <p>- IFCAI (Govt. of India)</p>
  </div>
</section>

<section class="sec2">

  <div id="sec2div1">

  </div>

  <div id="sec2div2">
    <p>Hello hello2!</p>
  </div>

</section>


<section class="sec1">

  <div id="sec1div1">
    <p>Hello hello3!</p>
  </div>

  <div id="sec1div2">
    <p>Hello hello4!</p>
  </div>

</section>


<section class="sec3">
  <div>
    <p>Nexus Telecom has the best customer care service among other competitors. Their response is fast and efficient.
    </p>
    <br>
    <p>- IFCAI (Govt. of India)</p>
  </div>
</section>

<section class="sec2">

  <div id="sec2div1">
    <p>Hello hello1!</p>
  </div>

  <div id="sec2div2">
    <p>Hello hello2!</p>
  </div>

</section>


<section class="sec1">

  <div id="sec1div1">
    <p>Hello hello3!</p>
  </div>

  <div id="sec1div2">
    <p>Hello hello4!</p>
  </div>

</section>

<section class="lastSection">
  I'm the last section!
</section>