<div class="container-fluid" style="padding-top: 3px">
  <div class="jumbotron">
    <h1>Manage your Bills </h1>
  </div>
</div>

<div class="container">
  <div class="well bill-post">
    <p>
      Your Postpaid Bills
    </p>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
          <span><strong>Plan Name:</strong></span><br>
          <span><strong>Tenure:</strong></span><br>
          <span><strong>Date Of Payment:</strong> </span><br>
          <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="well bill-post">
    <p>
      Your Broadband Bills
    </p>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <p>Plan ID:</p>
          </div>
        </div>
        <div class="panel-body">
            <span><strong>Plan Name:</strong></span><br>
            <span><strong>Tenure:</strong></span><br>
            <span><strong>Date Of Payment:</strong> </span><br>
            <span><strong>Plan Detils:</strong></span>
        </div>
        <div class="panel-footer">
            <a routerLink='/payandrecharge' class="btn btn-danger paybtn">Pay</a>
        </div>
      </div>
    </div>
  </div>
</div>
